<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-6">
                    <img src="img/logos/bmo.png" class="img-fluid d-block mx-auto client-icon" alt="BMO">
                </div>
                <div class="col-md-3 col-6">
                    <img src="img/logos/deveron.png" class="img-fluid d-block mx-auto client-icon" alt="Deveron">
                </div>
                <div class="col-md-3 col-6">
                    <img src="img/logos/fixmo.png" class="img-fluid d-block mx-auto client-icon" alt="Fixmo">
                </div>
                <div class="col-md-3 col-6">
                    <img src="img/logos/swift.png" class="img-fluid d-block mx-auto client-icon" alt="Swift">
                </div>
            </div>
        </div>
    </aside>
