<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/bmo.png" class="img-responsive img-centered client-icon" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/deveron.png" class="img-responsive img-centered client-icon" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/fixmo.png" class="img-responsive img-centered client-icon"  alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/swift.png" class="img-responsive img-centered client-icon" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>