<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <script type="text/javascript">var submitted=false;</script>
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/';}"></iframe>
                    <form name="sentMessage" id="contactForm" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdfl41daLsGLqp2bpg8bnozi4sQYkEpgh9URtNikoQzNEjRpQ/formResponse?embedded=true" novalidate target="hidden_iframe">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input name="entry.416724767" type="text" class="form-control" placeholder="Your Name *" id="name" required>
                                </div>
                                <div class="mb-3">
                                    <input name="entry.1604442346" type="email" class="form-control" placeholder="Your Email *" id="email" required>
                                </div>
                                <div class="mb-3">
                                    <input type="tel" name="entry.1109679970" class="form-control" placeholder="Your Phone *" id="phone" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <textarea class="form-control" name="entry.470364973" placeholder="Your Message *" id="message" required></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
